.toast{
    position: fixed;
    z-index: 10;
    width: 70vw;
    height: auto;

    background-color: var(--primary);
    color: var(--black);

    border-radius: 15px;
    border: 1px solid var(--white);
    padding: 20px;
}


.toast-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(4px) brightness(0.7);
    z-index: 9;

    display: flex;
    justify-content: center;
    align-items: center;
}

.toast-button{
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;   

    width: 5rem;
    height: 2.5rem;

    border: none;
    border-radius: 10px;

    transition: all 0.2s ease;
    background-color: var(--black);
    color: var(--white);
}

.toast-button:hover{
    cursor: pointer;
    background-color: var(--secondary);;
}

input, textarea {
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    width: 100%;
    margin-top: 11px;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px;
}

textarea{
    height: 20vh;
}

input:focus-visible, textarea:focus-visible{
    outline: none;
}

.toast-title{
    font-size: 1.5em;
    font-weight: bolder;
}

.centered-text{
    text-align: center;
}

.toast-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.toast-header{
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

button:disabled{
    background-color: grey;
}

button:disabled:hover{
    cursor: default;
    background-color: grey;
}