.button-thumbnail{
    color: #0d0e0f;
    background-color: #B56576;
    border-radius: 15px;
    font-size: 2rem;

    padding: 5px;
    margin: 20px;
    width: 15vw;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;

    overflow: hidden;
    
    transition: 0.2s
}

.button-thumbnail:hover{
    cursor: pointer;
    background-color: #E56B6F;
}

.button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@media(max-width: 700px){

    .button-thumbnail{
    
        width: 70vw;
        padding: 5px;
        margin: 20px;
    }
}