.timeline{
    border-radius: 5px;
    border: none;
    
    height: 1rem;
    width: 90vw;
    margin: 30vh auto auto auto; 

    background-color: var(--primary);
    
    display: flex;
    justify-content: center;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: 5vh;
}

.events-container{
    margin-top: -27px;
    display: flex;
    position: absolute;
    left: 5vw;
}

.select-container{    
    margin: 0px 3rem 0px 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}

.select-container > .select{
    margin-top: 15px;
}

.time-btn, .select, .redirect-button, .new-event-button{
    width: 5rem;
    height: 2.5rem;

    border: none;
    border-radius: 10px;
    text-align: center;

    transition: all 0.2s ease;
    background-color: var(--dark);
    border: 1px solid var(--white);
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

.time-btn{
    font-size: 1rem;
}


.select:hover{
    cursor: pointer;
}

.time-btn:hover, .redirect-button:hover, .new-event-button:hover{
    cursor: pointer;
    background-color: var(--secondary)
}

.year{  
    width: 250px;
    color: var(--white);
}

.mark{
    height: 0.5rem;
    width: 11px;
    
    margin: 9px 10px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    background-color:  var(--dark);
}

.event-title{
    transition: all 0.2s ease;
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin-bottom: 10px;
}

.event-title:hover{
    cursor: pointer;
    background-color: var(--secondary);
}

.redirect-button{
    text-decoration: none;
    position: fixed;
    top:10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-event-button{
    transform: translate(-50%, -50%);
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 9rem;
    height: 3rem;
}